In [1]:
#     US_Biogas_Analysis.ipynb
#     McKay Rytting
#     This notebook is an initial exploration of US Biogas data compiled by USDA

In [3]:
import pandas as pd

In [8]:
# Read the data file in. It has the following tabs:
allBiogasData = pd.read_excel('BioGas_Download.xlsx', sheet_name=None)

In [9]:
allBiogasData.keys()

dict_keys(['Readme', 'Agriculture BioGas System', 'Landfill BioGas System', 'Wastewater BioGas System', 'Food Scrap BioGas System', 'Compressed NG Fueling Stations', 'Electric Fueling Stations', 'NG Pipelines Gathering', 'NG Pipelines Interstate', 'NG Pipelines Intrastate', '2013 Electricity Prices', '2014 Gas Prices', 'State Incentives Total Count', 'Net Metering Rules', 'Net Metering Caps', 'Livestock Dairy Inventory', 'Livestock Poultry Inventory', 'Livestock Swine Inventory', 'Crop Residue Bagasse ', 'Crop Residue Barley Straw', 'Crop Residue Cornstover', 'Crop Residue Sorghum', 'Crop Residue Rice', 'Crop Residue Wheatstraw', 'Energy Crops Cane', 'Energy Crops Miscanthus', 'Energy Crops Switchgrass', 'NRCS EQIP Practice Standards'])

In [10]:
dfAgriculture=allBiogasData['Agriculture BioGas System']
dfLandfill=allBiogasData['Landfill BioGas System']
dfIncentives=allBiogasData['State Incentives Total Count']
dfDairyInventory=allBiogasData['Livestock Dairy Inventory']
dfSwineInventory=allBiogasData['Livestock Swine Inventory']
dfPoultryInventory=allBiogasData['Livestock Poultry Inventory']

In [37]:
dfLivestockInventory=pd.merge(dfDairyInventory,dfSwineInventory, how='outer',
                              left_on=['County','State'], right_on=['NAME','STATE NAME'])
dfLivestockInventory=pd.merge(dfLivestockInventory,dfPoultryInventory, how='outer',
                              left_on=['NAME','STATE NAME'], right_on=['NAME','STATE NAME'])
dfLivestockInventory.drop(columns=['NAME','STATE NAME'],inplace=True)
dfLivestockInventory.rename(columns={'Milk Cow Inventory':'Cow Inventory',
                                     'Inventory Total Higs and Pigs':'Swine Inventory'},
                           inplace=True)
dfLivestockInventory=dfLivestockInventory.fillna(0)

In [38]:
dfLivestockInventory.head()

    County    State  Cow Inventory  Swine Inventory  Poultry Inventory
0  Autauga  Alabama           24.0             38.0             1786.0
1  Baldwin  Alabama           66.0            166.0                0.0
2  Calhoun  Alabama          135.0              0.0                0.0
3     Hale  Alabama           42.0              0.0                0.0
4  Lowndes  Alabama           24.0              0.0                0.0

,County,State,Milk Cow Inventory,NAME,STATE NAME,Inventory Total Higs and Pigs,Poultry Inventory
0,Autauga,Alabama,24.0,Autauga,Alabama,38.0,1786.0
1,Baldwin,Alabama,66.0,Baldwin,Alabama,166.0,NaN
2,Calhoun,Alabama,135.0,NaN,NaN,NaN,NaN
3,Hale,Alabama,42.0,NaN,NaN,NaN,NaN
4,Lowndes,Alabama,24.0,NaN,NaN,NaN,NaN